body{
	background-image: url("../images/nintendo.jpg");
	background-size: cover;
  background-repeat: no-repeat;
}

#name{
  font-size: 28px;
}

div{
  font-size: 24px;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}
    

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
  }
    
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .row.content {height:auto;} 
  }

    
  